/* Archivo: report.module.css */

/* Estilo general del contenedor principal */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #e1f7d5;
  min-height: 100vh;
}

/* Estilo del título principal */
.title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

/* Contenedor para organizar los totales en una sola fila */
.totalsWrapper {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
  justify-content: center;
  gap: 30px; /* Espacio entre cada total */
  margin-bottom: 20px;
}

/* Estilo de cada total individual */
.totalItem {
  text-align: center;
  background-color: #fdfce7;
  padding: 15px;
  border-radius: 8px;
  width: 220px; /* Ancho uniforme para todos los totales */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de las etiquetas de los totales */
.label {
  color: #4a4a4a; /* Cambiado a gris oscuro para mejor visibilidad */
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo de los campos de texto de los totales */
.inputBlackText {
  color: #4a4a4a; /* Cambiado a gris oscuro para mejor visibilidad */
  width: 80%; /* Ajusta el ancho para que esté alineado hacia la parte baja del cuadro */
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: auto; /* Mueve el input hacia la parte inferior */
}

/* Contenedor de los gráficos circulares */
.chartsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  width: 90%;
}

/* Estilo de cada gráfico embebido */
.chart {
  flex: 1 1 0; /* Hace que el gráfico ocupe todo el espacio disponible en el contenedor */
  max-width: 450px; /* Limita el ancho máximo para mantener un tamaño proporcional */
  height: 450px; /* Mantiene el tamaño circular del gráfico */
}

/* Estilos para la tabla y sus contenedores */
.tableContainer {
  margin-top: 20px;
  width: 90%;
}

.opinionTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  margin-bottom: 30px;
}

.opinionTable th, .opinionTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  color: #333;
}

.opinionTable th {
  background-color: #a5d6a7;
  font-weight: bold;
}

/* Contenedor para los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilo para los botones */
.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-top: 20px;
}

.button {
  padding: 12px 25px;
  background-color: #81c784;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #66bb6a;
}
