.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f7d4;
}

.headerText {
  text-align: center;
  margin-bottom: 40px;
}

.headerText h1 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
  margin-bottom: 35px;
}

.headerText h2 {
  font-size: 22px;
  color: rgba(102, 102, 102, 0.75);
}

.menuContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  text-align: center;
}

.menuTitle {
  font-size: 28px;
  color: #444;
  margin-bottom: 30px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconPlaceholder {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 48px; /* Tamaño del ícono */
  color: #444; /* Color del ícono */
}

.menuButton {
  padding: 12px 20px;
  background-color: #91b8d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  height: 45px;
  text-align: center;
}

.menuButton:hover {
  background-color: #7aa0c4;
}

.gridContainerTwoButtons {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  gap: 20px;
}
